* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    line-height: 1,5;
    font-family: sans-serif;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    color: #000;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}
.header-logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
}
.header-logo-container:hover {
    color: #0062b9;
}
.header-logo-image-cont {
    width: 5rem;
    height: 5rem;
    margin-right: 1.5rem;
    background-color: #0062b9;
    border-radius: 50px;
    overflow: hidden;
}
.header-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.header-logo-sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.header-links {
    display: flex; 
    
}
.header__link {
    padding: 2.2rem 1rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    
}
.header__link:hover {
    color: #0062b9; 
}
.header-sm-menu {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: visible;
    opacity: 0;

}
.header-sm-menu--active {
    visibility: hidden;
    opacity: 0;
}
@media only screen and (max-width:37.5em) {
    .header-sm-menu--active {
        visibility: visible;
        opacity: 1;
    }
}
.header-sm-menu-link a {
    display: block;
    text-decoration: none;
    padding: 2.5rem 3rem;
    font-size: 1.6rem;
    color: #333;
    text-align: right;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header-sm-menu-link a:hover {
    color: #0062b9;
}
.header-sm-menu-link:first-child a {
    border-top: 1px solid #eee;
}
.header-sm-menu-link-last {
    border-bottom: 0; 
}
.home-hero {
    background: url(file:///C:/Users/admin/Desktop/kavya%20projects/Rammaheshwari%20document/common-bg.svg);
    background-position: center;
    height: 100vh;
    
    position: relative;
}
.home-hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}
@media only screen and (max-width: 37.5em) {
.home-hero-content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0); 
} 
}
.heading-primary {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
@media only screen and (max-width: 37.5em) {
.heading-primary {
    font-size: 4.5rem; 
} 
}
.home-hero-info {
    margin: 3rem auto 0 auto;
    max-width: 80rem; 
}
.text-primary {
    color: #333;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}
.btn {
    background-color: #0062b9;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 5px;
}
.btn:hover {
    transform: translateY(-3px); 
}
.btn--bg {
    padding: 0.5rem 3.5rem;
    font-size: 2rem; 
}
.home-hero-cta {
    margin-top: 5rem;
    text-align: center; 
}
.home-hero__mouse-scroll-cont {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%); 
}
@media only screen and (max-width: 37.5em) {
    .home-hero__mouse-scroll-cont {
      display: none; 
    } 
}
.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}
.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}
.main-container {
    max-width: 120rem;
    width: 92%;
    margin: auto;
}
.about {
    background-color: #fafafa;
}